<% include partials/header %>
<div>
    <h2><%= blog.title %></h2>
    <h4><%= blog.date %></h4>
    <img src="<%= blog.image %>">
    <p><%= blog.desc %></p>
    <a href="/blogs/<%=blog._id%>/edit">Edit Blog</a>
    <form action="/blogs/<%=blog._id%>?_method=delete" method="post"><button>Delete Blog</button></form>
</div>
<% include partials/footer %>